Omega/src/conf/xml-resources/web-service-references/Zote/wsdl/localhost_8080/Zote/Zote.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soapwebservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soapwebservice/" name="Zote">
<types>
<xsd:schema>
<xsd:import namespace="http://soapwebservice/" schemaLocation="http://localhost:8080/Zote/Zote?xsd=1"/>
</xsd:schema>
</types>
<message name="crearBD">
<part name="parameters" element="tns:crearBD"/>
</message>
<message name="crearBDResponse">
<part name="parameters" element="tns:crearBDResponse"/>
</message>
<message name="getUsuario">
<part name="parameters" element="tns:getUsuario"/>
</message>
<message name="getUsuarioResponse">
<part name="parameters" element="tns:getUsuarioResponse"/>
</message>
<message name="editaUsuario">
<part name="parameters" element="tns:editaUsuario"/>
</message>
<message name="editaUsuarioResponse">
<part name="parameters" element="tns:editaUsuarioResponse"/>
</message>
<message name="insertUsuario">
<part name="parameters" element="tns:insertUsuario"/>
</message>
<message name="insertUsuarioResponse">
<part name="parameters" element="tns:insertUsuarioResponse"/>
</message>
<message name="eliminaUsuario">
<part name="parameters" element="tns:eliminaUsuario"/>
</message>
<message name="eliminaUsuarioResponse">
<part name="parameters" element="tns:eliminaUsuarioResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="myFirstSoapCall">
<part name="parameters" element="tns:myFirstSoapCall"/>
</message>
<message name="myFirstSoapCallResponse">
<part name="parameters" element="tns:myFirstSoapCallResponse"/>
</message>
<message name="getUsuarios">
<part name="parameters" element="tns:getUsuarios"/>
</message>
<message name="getUsuariosResponse">
<part name="parameters" element="tns:getUsuariosResponse"/>
</message>
<message name="agregaTabla">
<part name="parameters" element="tns:agregaTabla"/>
</message>
<message name="agregaTablaResponse">
<part name="parameters" element="tns:agregaTablaResponse"/>
</message>
<message name="getTabla">
<part name="parameters" element="tns:getTabla"/>
</message>
<message name="getTablaResponse">
<part name="parameters" element="tns:getTablaResponse"/>
</message>
<portType name="Zote">
<operation name="crearBD">
<input wsam:Action="http://soapwebservice/Zote/crearBDRequest" message="tns:crearBD"/>
<output wsam:Action="http://soapwebservice/Zote/crearBDResponse" message="tns:crearBDResponse"/>
</operation>
<operation name="getUsuario">
<input wsam:Action="http://soapwebservice/Zote/getUsuarioRequest" message="tns:getUsuario"/>
<output wsam:Action="http://soapwebservice/Zote/getUsuarioResponse" message="tns:getUsuarioResponse"/>
</operation>
<operation name="editaUsuario">
<input wsam:Action="http://soapwebservice/Zote/editaUsuarioRequest" message="tns:editaUsuario"/>
<output wsam:Action="http://soapwebservice/Zote/editaUsuarioResponse" message="tns:editaUsuarioResponse"/>
</operation>
<operation name="insertUsuario">
<input wsam:Action="http://soapwebservice/Zote/insertUsuarioRequest" message="tns:insertUsuario"/>
<output wsam:Action="http://soapwebservice/Zote/insertUsuarioResponse" message="tns:insertUsuarioResponse"/>
</operation>
<operation name="eliminaUsuario">
<input wsam:Action="http://soapwebservice/Zote/eliminaUsuarioRequest" message="tns:eliminaUsuario"/>
<output wsam:Action="http://soapwebservice/Zote/eliminaUsuarioResponse" message="tns:eliminaUsuarioResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://soapwebservice/Zote/helloRequest" message="tns:hello"/>
<output wsam:Action="http://soapwebservice/Zote/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="myFirstSoapCall">
<input wsam:Action="http://soapwebservice/Zote/myFirstSoapCallRequest" message="tns:myFirstSoapCall"/>
<output wsam:Action="http://soapwebservice/Zote/myFirstSoapCallResponse" message="tns:myFirstSoapCallResponse"/>
</operation>
<operation name="getUsuarios">
<input wsam:Action="http://soapwebservice/Zote/getUsuariosRequest" message="tns:getUsuarios"/>
<output wsam:Action="http://soapwebservice/Zote/getUsuariosResponse" message="tns:getUsuariosResponse"/>
</operation>
<operation name="agregaTabla">
<input wsam:Action="http://soapwebservice/Zote/agregaTablaRequest" message="tns:agregaTabla"/>
<output wsam:Action="http://soapwebservice/Zote/agregaTablaResponse" message="tns:agregaTablaResponse"/>
</operation>
<operation name="getTabla">
<input wsam:Action="http://soapwebservice/Zote/getTablaRequest" message="tns:getTabla"/>
<output wsam:Action="http://soapwebservice/Zote/getTablaResponse" message="tns:getTablaResponse"/>
</operation>
</portType>
<binding name="ZotePortBinding" type="tns:Zote">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="crearBD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editaUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminaUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="myFirstSoapCall">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregaTabla">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTabla">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Zote">
<port name="ZotePort" binding="tns:ZotePortBinding">
<soap:address location="http://localhost:8080/Zote/Zote"/>
</port>
</service>
</definitions>