Omega/web/WEB-INF/wsdl/localhost_8080/Zote/Zote.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soapwebservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soapwebservice/">

<xs:element name="crearBD" type="tns:crearBD"/>

<xs:element name="crearBDResponse" type="tns:crearBDResponse"/>

<xs:element name="editaUsuario" type="tns:editaUsuario"/>

<xs:element name="editaUsuarioResponse" type="tns:editaUsuarioResponse"/>

<xs:element name="eliminaUsuario" type="tns:eliminaUsuario"/>

<xs:element name="eliminaUsuarioResponse" type="tns:eliminaUsuarioResponse"/>

<xs:element name="getUsuario" type="tns:getUsuario"/>

<xs:element name="getUsuarioResponse" type="tns:getUsuarioResponse"/>

<xs:element name="getUsuarios" type="tns:getUsuarios"/>

<xs:element name="getUsuariosResponse" type="tns:getUsuariosResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="insertUsuario" type="tns:insertUsuario"/>

<xs:element name="insertUsuarioResponse" type="tns:insertUsuarioResponse"/>

<xs:element name="myFirstSoapCall" type="tns:myFirstSoapCall"/>

<xs:element name="myFirstSoapCallResponse" type="tns:myFirstSoapCallResponse"/>

<xs:complexType name="insertUsuario">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="myFirstSoapCall">
<xs:sequence>
<xs:element name="greeting" type="xs:string" minOccurs="0"/>
<xs:element name="myNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="myFirstSoapCallResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearBD">
<xs:sequence>
<xs:element name="nombrebd" type="xs:string" minOccurs="0"/>
<xs:element name="cont" type="xs:string" minOccurs="0"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearBDResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminaUsuario">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminaUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsuarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editaUsuario">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="gender" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editaUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsuario">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>